@tailwind base;

@tailwind components;

@tailwind utilities;

/* @import "./components/card"; */
.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.75rem;
}

@media (min-width: 1024px) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}